# Q1

In [3]:
prenom = input("Entrez votre prénom: ")
nom = input("Entrez votre nom: ")
print(nom, prenom)

Entrez votre prénom: Karim
Entrez votre nom: Bendchiche
Bendchiche Karim

# Q2

In [6]:
n = input("Entrez un entier: ")
nn = n*2
nnn = n*3
int(n)
int(nn)
int(nnn)
print(int(n)+int(nn)+int(nnn))

Entrez un entier: 5
615

# Q3

In [9]:
n = int(input("Entrez un entier: "))
if n%2 == 0:
    print("Cet entier est pair.")
else:
    print("Cet entier est impair.")

Entrez un entier: 2
Cet entier est pair.

# Q4

In [14]:
i = 0
for i in range (2000, 3201):
    if i%7 == 0 and i%5 == 1:
        print(i, end = ' ')

2016 2051 2086 2121 2156 2191 2226 2261 2296 2331 2366 2401 2436 2471 2506 2541 2576 2611 2646 2681 2716 2751 2786 2821 2856 2891 2926 2961 2996 3031 3066 3101 3136 3171

# Q5

In [8]:
fact = 1
n = int(input("Entrez un entier: "))
for i in range (1, n+1):
    fact = fact*i
print(fact)

Entrez un entier: 5
120

# Q6

In [7]:
str = input("Entrez une chaîne de caractères: ")
vide = ""
for i in range(len(str)):
    if i % 2 == 0:
        vide = vide + str[i]
print(vide)

Entrez une chaîne de caractères: Salut méola ça va ?
Sltmoaç a?

# Q7

In [10]:
prix = int(input("Entrez un prix: "))
if prix >= 500:
    prix = prix*(1-0.5)
    print("Le nouveau prix est de" , prix)
elif prix >= 200 and prix < 500:
    prix = prix*(1-0.3)
    print("Le nouveau prix est de" , prix)
else:
    prix = prix*(1-0.1)
    print("Le nouveau prix est de" , prix)

Entrez un prix: 200
Le nouveau prix est de  140.0